<form [formGroup]="sendMailFormGroup" (ngSubmit)="submitForm()" *ngIf="sendMailFormGroup">
   
    <h1 mat-dialog-title>Vous avez oublié votre mot de passe?</h1>
    <div mat-dialog-content>
           <p>Ecrivez votre email, Vous recevrez un lien valable 24 heures pour modifier votre mot de passe</p>
            <div class="form-content">
            <mat-form-field appearance="outline">
              <mat-label>Email:</mat-label>
              <input matInput formControlName="toEmail" placeholder="Email" required>
              <mat-error *ngIf="sendMailFormGroup.get('toEmail').invalid">Email non valide</mat-error>
            </mat-form-field>
          
              <div class="spinner-wrapper" *ngIf="showSpinner || showSent">
                <div class="spinner" >

                    <mat-spinner *ngIf="showSpinner"></mat-spinner>
                    <span class="email-sent" *ngIf="showSent">{{sentMessage}}</span>
                </div>
            </div>
            </div>
           
          
    </div>
    <div class="actions" mat-dialog-actions>
        <button mat-button   (click)="cancel()" type="button">Cancel</button>
        <button mat-button [disabled]="sendMailFormGroup.invalid">Send</button>
    </div>
    </form>

    