
.form-content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

mat-form-field{
    width: 30rem
}


.actions, .add{
    clear:both;
    float: right;
}

.spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    color:white;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: 800;
    
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    display: flex;
   opacity: 0.5;
 }