.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .content{
    width:92%;
    margin: 0 auto
  }

  .layout{
    display: flex;
    flex-direction: column;
  }