<form [formGroup]="formationFormGroup"  (ngSubmit)="submitFormations()">
<h1 mat-dialog-title>Edit your Experiences</h1>
<div mat-dialog-content>
   
        <h2>Décrivez votre formation</h2>
        <p> Listez l'ensemble des établissements dans lesquels vous avez étudié. Toutes les formations valent la peine d'être mentionnées si cela correspond au poste recherché.</p>
        <mat-accordion  multi="false">
         <div cdkDropList  (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let formation of formationFormGroup.controls['formations']['controls']; let i=index;" formArrayName="formations">
           
         <mat-expansion-panel  [ngClass]="{'fieldset':true,'invalid':getFormations().at(i).touched && getFormations().at(i).invalid}" [expanded]="getFormations().at(i).invalid" cdkDrag>
             <mat-expansion-panel-header >
               <mat-panel-title>
                 <span matBadge="{{i+1}}" matBadgeSize="medium" class="numBadge"></span>
               
                 Formation {{i+1}}: {{getFormations().at(i).get('diplome').value}} - {{getFormations().at(i).get('nomEtablissement').value}}
               </mat-panel-title>
               <mat-panel-description>
                 <button mat-button (click)="deleteFormation(i)" class="delete"><mat-icon>delete</mat-icon></button>
                 <div class="handleDrag" cdkDragHandle>
                     <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                       <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                       <path d="M0 0h24v24H0z" fill="none"></path>
                     </svg>
                   </div>
               </mat-panel-description>
             </mat-expansion-panel-header>    
        <!-- <fieldset    [ngClass]="{'fieldset':true,'invalid':getFormations().at(i).touched && getFormations().at(i).invalid}">
         <legend>Experiences:</legend> -->
         <div [formGroupName]="i" class="fieldsetContent">
    
            <mat-form-field class="unquart" appearance="outline" >
                <mat-label>Nom de l'établissement</mat-label>
                <input type="text" matInput formControlName="nomEtablissement" 
                       placeholder="Nom de l'établissement">
                <mat-error *ngIf="getFormations().at(i).get('nomEtablissement').errors && getFormations().at(i).get('nomEtablissement').hasError('required')">Intitulé de poste recquis</mat-error>
                <mat-error *ngIf="getFormations().at(i).get('nomEtablissement').errors && getFormations().at(i).get('nomEtablissement').hasError('minlength')">Minimum 3 lettres</mat-error>
              
             </mat-form-field>
             <mat-form-field class="unquart" appearance="outline" >
                <mat-label>Diplôme</mat-label>
                <input type="text" matInput formControlName="diplome" 
                       placeholder="Diplome">
                <mat-error *ngIf="getFormations().at(i).get('diplome').errors && getFormations().at(i).get('diplome').hasError('required')">Intitulé de poste recquis</mat-error>
                <mat-error *ngIf="getFormations().at(i).get('diplome').errors && getFormations().at(i).get('diplome').hasError('minlength')">Minimum 3 lettres</mat-error>
              
             </mat-form-field>
             <mat-form-field class="unquart" appearance="outline" >
                <mat-label>Domaine d'études</mat-label>
                <input type="text" matInput formControlName="domaineEtude" 
                       placeholder="Domaine d'études">
             </mat-form-field>
             <mat-form-field class="unquart" appearance="outline" >
                <mat-label>Mention</mat-label>
                <input type="text" matInput formControlName="mention" 
                       placeholder="Mention">
             </mat-form-field>
           
             <mat-form-field class="description" appearance="outline" >
              <mat-label>Description</mat-label>
              <textarea  matInput formControlName="description"></textarea>
          </mat-form-field>
          <fieldset class="dateFieldSet">
              <legend>Date de Début:</legend>
              <mat-form-field class="dateField" appearance="outline" >
                  <mat-label> Mois</mat-label>
                  <mat-select formControlName="dateDeDebutMois">
                      <ng-container *ngFor="let ms of mois">
                      <mat-option value="{{ms.value}}">{{ms.literal}}</mat-option>
                  </ng-container>
                      </mat-select>
              
                  
              </mat-form-field>
              <mat-form-field class="dateField" appearance="outline" >
                  <mat-label>Année</mat-label>
                  <mat-select formControlName="dateDeDebutAnnee">
                      <ng-container *ngFor="let a of annee">
                      <mat-option value="{{a}}">{{a}}</mat-option>
                  </ng-container>
                  
              </mat-select>      
              </mat-form-field>
          </fieldset>
          <fieldset class="dateFieldSet">
              <legend>Date de Fin:</legend>
              
              <mat-form-field class="dateField" appearance="outline" >
                  <mat-label> Mois</mat-label>
                  <mat-select formControlName="dateDeFinMois" >
                  <ng-container *ngFor="let ms of mois">
                      <mat-option value="{{ms.value}}">{{ms.literal}}</mat-option>
                  </ng-container>
                  </mat-select>
              </mat-form-field>
              <mat-form-field class="dateField" appearance="outline" >
                  <mat-label>Année</mat-label>

                  <mat-select formControlName="dateDeFinAnnee" >
                      <ng-container *ngFor="let a of annee">
                          <mat-option value="{{a}}">{{a}}</mat-option>
                      </ng-container>
                  </mat-select>       
              </mat-form-field>
              
              <mat-error *ngIf="getFormations().at(i).get('dateDeFinAnnee').errors && getFormations().at(i).get('dateDeFinAnnee').hasError('debutPasInferieurFin')">Date de fin doit être inférieur à la date de début !</mat-error>
              <mat-checkbox  formControlName="enCours" class="encours" (click)="disableValidator(i)">En cours</mat-checkbox>
            
          </fieldset>
         
            
        </div>
       
     <!-- </fieldset> -->
         </mat-expansion-panel>
     
          </ng-container>
         </div>
          </mat-accordion>
 <button mat-button (click)="addFormation()" class="add" type="button" [disabled]="formationFormGroup.invalid"><mat-icon>add</mat-icon> Ajouter Une Autre Formation</button>
    
     
   

</div>
<div class="actions" mat-dialog-actions>
    <button mat-button  (click)="cancel()" type="button">Cancel</button>
    <button mat-button [disabled]="formationFormGroup.invalid"  >Ok</button>
</div>
</form>